# Ignore node_modules directory
node_modules

# Ignore build directory
build

# Ignore specific files
*.min.js
dist/bundle.js

# Ignore all JSON files in a specific directory
config/*.json

# Ignore specific directory and all its subdirectories
public/assets/images

# Ignore all Markdown files except README.md
*.md
!README.md
