.container {
  display: flex;
}
.sidebar {
  width: 40px;
  height: 100vh;
  background-color: #222831;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.topSection,
.bottomSection {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sidebarIcons {
  color: white;
  font-size: 20px;
}
.iconWrapper {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.iconWrapper:hover {
  background-color: #31363f;
}

/* <===========================MESSAGE BAR======================> */

.messageBar {
  width: 350px;
  height: 100vh;
  background-color: #111b21;
}
.navbar {
  display: flex;
  justify-content: space-between;
  height: 40px;
  width: 350px;
}
.navbarIconWrapper {
  display: flex;
}
.navbar h1 {
  font-weight: 900;
  margin-left: 5px;
}
.searchBar {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}
.searchBar input {
  width: 90%;
  height: 100%;
  border: none;
  outline: none;
  border-bottom: 3px solid green;
  background-color: #222831;
}
.messages {
  position: fixed;
  height: 100vh;
  overflow-y: auto;
  margin-top: 30px;
  width: 350px;
  padding-bottom: 40px;
}

.messages::-webkit-scrollbar {
  width: 8px;
}
.messages::-webkit-scrollbar-track {
  background: transparent;
}
.messages::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 20px;
}

.messages::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.messages {
  scrollbar-width: thin;
}

/* <============================================UserMessageSection=========================> */

.userMessagesSection {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.friendInfo {
  width: 100%;
  height: 60px;
  background-color: #111b21;
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
  align-items: center;
  flex: 0 1 auto;
}
.leftSection,
.rightSection {
  display: flex;
}
.friendDp {
  width: 40px;
  height: 40px;
  margin-right: 20px;
}
.messagePanel {
  flex: 1;
  /* background: url('https://media.istockphoto.com/id/1403848173/vector/vector-online-chatting-pattern-online-chatting-seamless-background.jpg?s=612x612&w=0&k=20&c=W3O15mtJiNlJuIgU6S9ZlnzM_yCE27eqwTCfXGYwCSo=');
  background-size: contain; */
  background-color: #1e1e1e;
  overflow-y: auto;
  height: 100vh;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}
.messageSendingPanel {
  min-height: 60px;
  background-color: #111b21;
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
  align-items: center;
  flex: 0 1 auto;
}
.messageSendingPanel input {
  width: 100%;
}
.messageInput {
  flex-grow: 1;
  max-height: 40px;
  margin: 0 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: none; /* Disable manual resizing */
  overflow-y: hidden; /* Hide the scrollbar */
  line-height: 1.5;
  /* Hide scrollbar for WebKit browsers (Chrome, Safari) */
  -webkit-overflow-scrolling: touch;
  overflow: hidden;
  padding-top: 10px;
  padding-left: 3px;
}

.messagePanel::-webkit-scrollbar {
  width: 8px;
}
.messagePanel::-webkit-scrollbar-track {
  background: transparent;
}
.messagePanel::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 20px;
}

.messagePanel::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.messagePanel {
  scrollbar-width: thin;
}

.banner {
  margin-inline: auto;
  place-content: center;
  font-size: 6rem;
  user-select: none;
  font-weight: 900;
  font-family: monospace;
}
