.formModal {
  position: relative;
  width: 450px;
  height: auto;
  margin-top: 4em;
  left: 50%;
  transform: translateX(-50%);
  background: #fff;
  border-radius: 20px;
  box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

/* src/components/PhotoUploader.module.css */
.photoUploader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.uploadContainer {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  background-color: #f0f0f0;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-align: center;
  color: #fff;
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 15px;
}

.uploadContainer input[type='file'] {
  display: none;
}

.uploadText {
  position: absolute;
  bottom: 55px;
  background: rgba(0, 0, 0, 0.5);
  padding: 5px 10px;
  border-radius: 5px;
}

.formModal a {
  background-color: #c2fbd7;
  border-radius: 100px;
  box-shadow: rgba(44, 187, 99, 0.2) 0 -25px 18px -14px inset,
    rgba(44, 187, 99, 0.15) 0 1px 2px, rgba(44, 187, 99, 0.15) 0 2px 4px,
    rgba(44, 187, 99, 0.15) 0 4px 8px, rgba(44, 187, 99, 0.15) 0 8px 16px,
    rgba(44, 187, 99, 0.15) 0 16px 32px;
  color: green;
  cursor: pointer;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-bottom: 15px;
}
.formModal a:hover {
  box-shadow: rgba(44, 187, 99, 0.35) 0 -25px 18px -14px inset,
    rgba(44, 187, 99, 0.25) 0 1px 2px, rgba(44, 187, 99, 0.25) 0 2px 4px,
    rgba(44, 187, 99, 0.25) 0 4px 8px, rgba(44, 187, 99, 0.25) 0 8px 16px,
    rgba(44, 187, 99, 0.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}

.wrapper {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.upload {
  background-color: initial;
  background-image: linear-gradient(-180deg, #00d775, #00bd68);
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
  color: #ffffff;
  cursor: pointer;
  outline: 0;
  padding: 0 20px;
  pointer-events: auto;
  text-align: center;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: top;
  border: 0;
  width: 50%;
  border-bottom-right-radius: 20px;
}

.upload:hover {
  background: #00bd68;
}

.cancel {
  background-color: rgba(240, 240, 240, 0.26);
  border: 0;
  color: #000000;
  cursor: pointer;
  font-size: 18px;
  padding: 14px 22px;
  text-decoration: none;
  transition: all 0.2s;
  width: 50%;
  border-bottom-left-radius: 20px;
}
